SistemaContable/SistemaContable/Service References/ServicioAsientos/GuardarAsientosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/ServicioAsientos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/ServicioAsientos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/ServicioAsientos">
      <s:element name="GuardarAsiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tabla">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="compania" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numAsiento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="detalle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarAsientoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarAsientoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarAsiento" />
  </wsdl:message>
  <wsdl:message name="GuardarAsientoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarAsientoResponse" />
  </wsdl:message>
  <wsdl:portType name="AsientosWSSoap">
    <wsdl:operation name="GuardarAsiento">
      <wsdl:input message="tns:GuardarAsientoSoapIn" />
      <wsdl:output message="tns:GuardarAsientoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsientosWSSoap" type="tns:AsientosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAsiento">
      <soap:operation soapAction="http://localhost/ServicioAsientos/GuardarAsiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AsientosWSSoap12" type="tns:AsientosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAsiento">
      <soap12:operation soapAction="http://localhost/ServicioAsientos/GuardarAsiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsientosWS">
    <wsdl:port name="AsientosWSSoap" binding="tns:AsientosWSSoap">
      <soap:address location="http://localhost:43551/GuardarAsientosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="AsientosWSSoap12" binding="tns:AsientosWSSoap12">
      <soap12:address location="http://localhost:43551/GuardarAsientosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>